#background {
background:url("/background/background.svg");
background-color: #000000;

background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;;
background-size:cover;

opacity:0;
width:100vw;
height:calc( 100vh - 10px - 10px - 10px - 10px);

animation-name:background-reveal;
animation-delay:0.5s;
animation-duration:1s;
animation-fill-mode:forwards;
}
@keyframes background-reveal {
0% {opacity:0;}
100% {opacity:1.0;}
}
