/* Block Quote */
/*-----------------------------------------------*/
blockquote {
background:#eeeeee;
border-radius:2.5px;
margin:0;
padding:10px;
}
blockquote:before {
color:#bbbbbb;
display:block;
content: "+ Quote";
font-weight:bold;
margin:0;
padding:0px 0px 10px 0px;
}
