.drawer {
	background: #bbbbbb;
	height: 100vh;
	width: 325px;
	left: -325px;
	top: 0px;
	position: fixed;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	z-index: 999;
}

.drawer-button {
	background-size: contain;
	background-repeat: no-repeat;
	width: auto;
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	position: absolute;
	top: 0px;
	right: 0px;

	animation-name: drawer-open;
	animation-delay: 0.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.drawer-open .drawer {
	top: 0px;
	left: 0px;
	overflow: overlay;
}

.drawer a {
	margin: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	overflow: hidden;
}

@keyframes drawer-open {
	0% {left: 0px;}

	100% {left: 325px;}

}

.list {

}

.list:last-of-type {
	bottom: 0px;
	left: 0px;
	right: 0px;
	position: absolute;
}

.category {
	padding: 10px 0px 10px 0px;
}

.category br {
	display: none;
}

