/* Links */
/*-----------------------------------------------*/
a {
color:#74b5b8;
font-weight:bold;
border:none;
outline:none;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-ms-transition:all .3s ease;
-o-transition:all .3s ease;
transition:all .3s ease;
}
a:active,
a:focus,
a:link,
a:visited {
text-decoration:none;
outline:none;
}
a:hover {
color:#9aced2;
text-decoration:none;
outline:none;
}
a.g-profile {
color:#cc0000;
}
a.g-profile:before {
content:"+";
}
a.g-profile:hover {
color:#ff0000;
}
a.label-menu {
color:#666666;
}
a.link-menu {
color:#ffffff;
}
a.load-menu {
color:#ffffff;
}
