/* Lists */
/*-----------------------------------------------*/
ol,
ul,
li {
list-style:none;
}
ol {
}
ul{
}
li {
}
ul {
background: #aaaaaa;
}
ul:nth-child(odd) {
background: #bbbbbb;
}
li.link a {
	color:#ffffff;
}
li.link a:hover {
	color:#35a7cd;
}
li.code a {
	color:#ffffff;
}
li.code a:hover{
	color:#00a2ae;
}
li.industrial a {
	color:#ffffff;
}
li.industrial a:hover {
	color:#f2ce30;
}
li.graphic a {
	color:#ffffff;
}
li.graphic a:hover{
	color:#6967a9;
}
li.mechanical a {
	color:#ffffff;
}
li.mechanical a:hover{
	color:#fd5a3d;
}