.logo-black {
	background-image: url(/logo/logo-black.svg);
}

.logo-blue {
	background-image: url(/logo/logo-blue.svg);
}

.logo-green {
	background-image: url(/logo/logo-green.svg);
}

.logo-grey {
	background-image: url(/logo/logo-grey.svg);
}

.logo-purple {
	background-image: url(/logo/logo-purple.svg);
}

.logo-red {
	background-image: url(/logo/logo-red.svg);
}

.logo-teal {
	background-image: url(/logo/logo-teal.svg);
}

.logo-bottom {
	background-image: url(/logo/logo-bottom.svg);
}

.logo-top {
	background-image: url(/logo/logo-top.svg);
}
