#navigation {
	height: 64px;
	width: 64px;
	position: fixed;
	top: 0px;
	left: 10px;
	padding: 10px 10px 10px 10px;
}

@keyframes navigation-reveal {
	0% {left: -200px;}

	100% {left: 10px;}
}

.navigation {
	color: #000000ff;
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;

    height: 64px;
	width: 64px;
	position: fixed;
    top: 0px;
	left: -200px;

	animation-name: navigation-reveal;
	animation-delay: 1.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.navigation-label-color {
	 color: #00000000;
}
