.text-extra-small {
font-size:0.45em;
}
.text-small {
font-size:0.65em;
}
.text-medium {
font-size:0.75em;
}
.text-normal {
font-size:1em;
}
.text-large {
font-size:1.25em;
}
.text-extra-large {
font-size:1.5em;
}
