/* Title */
/*-----------------------------------------------*/
.title {
font-size:1.5em;
width: 100vw;
min-width: 400px;
margin: 10px;
padding: 0;
position: absolute;
top:0;
right:0;
text-shadow:0px 0px 20px #666666;
opacity:0;

-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-ms-transition:all .3s ease;
-o-transition:all .3s ease;
transition:all .3s ease;

animation-name:title-reveal;
animation-delay:1.5s;
animation-duration:2s;
animation-fill-mode:forwards;
}
@keyframes title-reveal {
0%{
opacity:0;
}
100% {
opacity:1.0;
}
}
